


#offcanvas-menu {
    color:aliceblue ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 250px;
    min-width: 13rem;
    background: #4d636f;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    border-radius: 0 5px 5px 0;
    text-align: left;
}
#offcanvas-menu.open {
    transform: translateX(0);
}
#offcanvas-menu button#close-menu {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}
#offcanvas-menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    font-size: 16px;
}
#open-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 900;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#open-menu:hover {
    background-color: #0056b3;
}
#chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1100;
}
#chat-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1200;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
#chat-modal img {
    max-width: 100%;
    height: auto;
}
#offcanvas-menu a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

#offcanvas-menu a:hover {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow-move 2s linear infinite;
}

@keyframes rainbow-move {
    0% { background-position: 0% }
    100% { background-position: 100% }
}

